html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

header.main {
    display: block;
    width: 100%;
    background: rgb(155,155,155);
    height: 75px;
    z-index: 1;
    position: absolute;
}

    header.main .logo {
    }

    header.main .search-bar {
        margin: 0 auto;
        width: 50%;
        padding: 5px;
    }

        header.main .search-bar input {
            border-radius: 4px;
            padding: 10px;
        }
    
    #login-container {
        float: right;
    }
   
#map-outer {
    margin-top: 75px;
}

#map {
    width:100%;
    height: 100%;
}

#collection-town {
    position: absolute;
    left: 0;
    height: 100%;
    width: 200px;
    background: white;
    top: 100px;
}
/* LEAFLET OVERRIDES */
.leaflet-popup .leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.leaflet-popup .leaflet-popup-content {
    min-width: 250px;
}

#map {
    cursor: pointer;
}

/* Chosen Overrides */
/* Fix 100% width */
.chzn-container, .chzn-drop, .chzn-drop .chzn-search, .chzn-drop .chzn-search input {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chzn-container { width:250px !important; }
